<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{page}}</title>
    <style>
        table, th, td {
                        border: 1px solid black;
                    }
        td,th {
                text-align: center;
            }

        .container {
            width: 100%;
        }

    </style>
</head>
<body>
    <h1>Hy!, This is Harsh Patel</h1>
    <hr>
    {% block start %}

    {% endblock %}

</body>
</html>